[Desktop Entry]
Name=Siilihai
Comment=Siilihai Web Forum Reader
Exec=siilihai-client
Type=Application
Icon=${SNAP}/meta/gui/siilihai.svg
Categories=Network;

