Source: siilihai-client
Section: net
Priority: extra
Maintainer: Ville Ranki <ville.ranki@iki.fi>
Build-Depends: debhelper (>= 8.1.3), qtbase5-dev, qt5-default, libqt5webkit5-dev, libsiilihai2-dev (>=2.3.0), cdbs (>= 0.4.93~), devscripts, libgstreamer1.0-dev, libgstreamer0.10-dev, libgstreamer-plugins-base1.0-dev, libgstreamer-plugins-base0.10-dev, qtdeclarative5-dev
Comment: removed not needed anymore qtlocation5-dev, qtsensors5-dev, libxslt1-dev, libsqlite3-dev, libqt5opengl5-dev
Standards-Version: 3.8.0
Homepage: http://www.siilihai.com/

Package: siilihai-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libsiilihai2 (>=2.3.0)
Description: Siilihai web forum client
 Graphical web forum client. See http://www.siilihai.com/ for details.

Package: siilihai-client-dbg
XB-Maemo-Display-Name: Debug symbols for Siilihai Web Forum client
Section: debug
Priority: extra
Architecture: any
Depends: siilihai-client (= ${binary:Version})
Description: Siilihai web forum client debug symbols
 Graphical Siilihai forum client debug symbols. See http://www.siilihai.com/ for details.
