#!/usr/bin/make -f
# -*- makefile -*-

makebuilddir/siilihai-client::
	cat debian/changelog | grep siilihai-client | head -n 1 | sed s/\).*/\"/ | sed s/siilihai-client\ \(/#define\ SIILIHAI_CLIENT_VERSION\ \"/ > siilihai-version.h

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/qmake.mk

DEB_DH_STRIP_ARGS := --dbg-package=siilihai-client-dbg
DH_ALWAYS_EXCLUDE=.git

override_dh_strip:
        $(overridden_command) --dbg-package=siilihai-client-dbg
