[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Siilihai Web Forum Reader
Comment=Siilihai Web Forum Reader
Exec=/usr/bin/siilihai
Terminal=false
Type=Application
StartupNotify=false
Categories=Network;
Icon=/usr/share/icons/siilihai/siilis_icon_26.png
#X-Osso-Service=com.siilihai.siilihai-client
X-Osso-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
